*{
    word-break: normal;
}
.card-header{
    font-family: "DM Serif Display" ;
}

.img-fluid{
    width: 300px;
    height: 300px;
}

.price{
    text-align: center;
    margin-top: 20px;
}

.button_1:hover{
    background-color: blanchedalmond;
    border-color: blanchedalmond;
}
.button_1{
    background-color: #F9E4C8;
    word-break: keep-all;
}
.button_1 a{
    text-decoration: none !important;
    color: black;
}

/*--------------------------------------------------------------------------*/

.navbar {
    background-color: white !important;
  
  }